#mapid{
    height: 500px;
    width:60%;
    margin:auto;
    border-radius:12px;
    
}

.custom-popup .leaflet-popup-content-wrapper{
      background: red;
   color: white;
   font-size: 14px;
   line-height: 24px;
   border-radius: 5px;
   box-shadow: 2px 1px 1px #ccc;
    
}

.custom-popup .leaflet-popup-tip-container {
   width: 60px;
   height: 20px;
}
.custom-popup .leaflet-popup-tip {
   background: none;
   border: none;

}